body {
  padding: 0;
  margin: 0;
}

#start-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
}

#circles-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
